body {
    font-family: Arial, sans-serif;
    background-color: #8EE4AF;
    color: #8EE4AF;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8EE4AF;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header img {
    width: 500px;
    height: 200px;
}

nav {
    float: right;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #8EE4AF;
}

main {
    padding: 20px;
}

footer {
    background-color: #D79922;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

main-img {
    width: 500px;
    height: 200px;
}
